{% extends "accounts/account_management_base.html" %}

{% block head %}
  {{ block.super }}
  <title>Password Change</title>
{% endblock %}

{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">Password Change</h1>
  </header>
{% endblock %}


{% block container %}
  <main role="main" id="container">

  <form method="POST">
    {% csrf_token %}
    <input type="hidden" id="back_url" name="back_url" value="{{ back_url }}"/>
    <p class="important">For security please enter your current password.</p>
    <p>If you can't remember your current password you can reset it by clicking <a href="/accounts/password_reset">here</a>.
    {{ form.as_p }}
    <input type="submit" value="Save" class="btn">
    <input type="button" id="back_button" class="btn" value="Back"/>
  </form>

  </main>
{% endblock %}
