{% extends "accounts/account_management_base.html" %}

{% block head %}
  {{ block.super }}
  <title>Password Reset Confirmation</title>
{% endblock %}

{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">Password Reset Confirmation</h1>
  </header>
{% endblock %}


{% block container %}
  <main role="main" id="container">
    <p>We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive the email shortly.</p>

    <p>If you do not recieve an email, please make sure you have entered the address you registered with, and check your spam folder</p>
  </main>
{% endblock %}
