{% extends "accounts/account_management_base.html" %}

{% block head %}
  {{ block.super }}
  <title>Password Reset</title>
{% endblock %}

{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">Password Reset</h1>
  </header>
{% endblock %}


{% block container %}
  <main role="main" id="container">
    {% if validlink == True %}
      <p class="important">Please select a new password.</p>


      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Set my password" class="btn">
      </form>
    {% else %}
        <p>This link has expired.</p>
        <p>You can request a new one on the <a href="{% url 'password_reset' %}">forgotten password page</a>.</p>
    {% endif %}
  </main>
{% endblock %}
