{% load i18n %}{% autoescape off %}
{% blocktrans %}You are receiving this email because you requested a password reset for your account for the workspace for collaborative editing provided by MUYA.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you have forgotten it is:" %} {{ user.get_username }}

{% blocktrans %}If you did not request to reset you password please contact us at itsee@contacts.bham.ac.uk to let us know.{% endblocktrans %}

{% blocktrans %}The MUYA team{% endblocktrans %}

{% endautoescape %}
