{% extends "accounts/account_management_base.html" %}

{% block head %}
  {{ block.super }}
  <title>Password Reset Complete</title>
{% endblock %}

{% block header %}
  <header role="banner" id="header">
    <h1 id="page_title">Password Reset Complete</h1>
  </header>
{% endblock %}


{% block container %}
  <main role="main" id="container">
    <p class="important">Your new password has been set.</p>
    <p>You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
  </main>
{% endblock %}
